n8n/03_DiagnosticarLead.json
{
  "name": "03_DiagnosticarLead",
  "nodes": [
    {
      "parameters": {
        "url": "http://host.docker.internal:8091/api/collections/leads/records",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "perPage",
              "value": "100"
            },
            {
              "name": "sort",
              "value": "created"
            },
            {
              "name": "filter",
              "value": "estado=\"nuevo\" && nivel_oportunidad=\"\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        80,
        0
      ],
      "id": "cf4cc802-b8aa-4358-b6a7-1ffd8694079e",
      "name": "PB_LeerLeadsParaDiagnostico"
    },
    {
      "parameters": {
        "jsCode": "const leads = $json.items || [];\n\nreturn leads.map(lead => ({\n  json: lead\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -112
      ],
      "id": "0add1817-7afc-455f-9ea0-494c1c41d26c",
      "name": "CODE_SepararLeads"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        848,
        -112
      ],
      "id": "f75035bb-268e-406e-ad6e-a590cd566e5b",
      "name": "LOOP_Leads"
    },
    {
      "parameters": {
        "jsCode": "const lead = $json;\n\nconst oportunidades = [];\n\nconst tieneWeb = lead.tiene_web === true;\nconst tieneFacebook = lead.tiene_facebook === true;\nconst tieneInstagram = lead.tiene_instagram === true;\nconst tieneBot = lead.tiene_bot === true;\nconst tieneEmail = lead.tiene_email === true;\n\n// WEB\n\nif (!tieneWeb) {\n  oportunidades.push(\"pagina_web\");\n}\n\nif (tieneWeb) {\n  oportunidades.push(\"mejorar_web\");\n}\n\n// REDES\n\nif (!tieneFacebook && !tieneInstagram) {\n  oportunidades.push(\"redes_sociales\");\n}\n\nif (tieneFacebook || tieneInstagram) {\n  oportunidades.push(\"marketing_digital\");\n}\n\n// WHATSAPP\n\nif (!tieneBot) {\n  oportunidades.push(\"whatsapp_ia\");\n}\n\nif (tieneBot) {\n  oportunidades.push(\"optimizar_bot\");\n}\n\n// EMAIL\n\nif (!tieneEmail) {\n  oportunidades.push(\"captura_leads\");\n}\n\n// NIVEL\n\nlet nivel_oportunidad = \"baja\";\n\nif (oportunidades.length >= 4) {\n  nivel_oportunidad = \"alta\";\n} else if (oportunidades.length >= 2) {\n  nivel_oportunidad = \"media\";\n}\n\n// SCORE\n\nlet score = 20;\n\nif (nivel_oportunidad === \"media\") {\n  score = 50;\n}\n\nif (nivel_oportunidad === \"alta\") {\n  score = 80;\n}\n\n// ENFOQUE PRINCIPAL\n\nlet mensaje_enfoque = \"\";\n\nif (oportunidades.includes(\"whatsapp_ia\")) {\n  mensaje_enfoque = \"whatsapp_ia\";\n} else if (oportunidades.includes(\"optimizar_bot\")) {\n  mensaje_enfoque = \"optimizar_bot\";\n} else if (oportunidades.includes(\"pagina_web\")) {\n  mensaje_enfoque = \"pagina_web\";\n} else if (oportunidades.includes(\"mejorar_web\")) {\n  mensaje_enfoque = \"mejorar_web\";\n} else if (oportunidades.includes(\"redes_sociales\")) {\n  mensaje_enfoque = \"redes_sociales\";\n} else if (oportunidades.includes(\"marketing_digital\")) {\n  mensaje_enfoque = \"marketing_digital\";\n}\n\nreturn [{\n  json: {\n    ...lead,\n    oportunidades: oportunidades.join(\", \"),\n    nivel_oportunidad,\n    mensaje_enfoque,\n    score\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        -16
      ],
      "id": "4e325edc-b338-4898-ae89-f1e5ad1b6562",
      "name": "CODE_DiagnosticarLead"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://host.docker.internal:8091/api/collections/leads/records/{{$json.id}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "oportunidades",
              "value": "={{$json.oportunidades}}"
            },
            {
              "name": "nivel_oportunidad",
              "value": "={{$json.nivel_oportunidad}}"
            },
            {
              "name": "mensaje_enfoque",
              "value": "={{$json.mensaje_enfoque}}"
            },
            {
              "name": "score",
              "value": "={{$json.score}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        -16
      ],
      "id": "ca6afcf5-73d3-4824-b578-116ee1233069",
      "name": "PB_ActualizarDiagnostico"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1488,
        16
      ],
      "id": "aec8cf19-f5ff-4fdf-8af1-fbc9744a8661",
      "name": "Wait",
      "webhookId": "d4202e0e-931c-4f5c-88f6-a0aeb36dd095"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "diagnosticar-leads",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        0
      ],
      "id": "7d605d45-d9f5-42c6-bfae-0def618bd6e9",
      "name": "Webhook_03_DiagnosticarLead",
      "webhookId": "6a0ab38a-e7f8-44b6-a725-bd35d2fa76a3"
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global')\nconst key = `flujo_03_disparo_04_${$execution.id}`\n\nif (data[key]) {\n  return []\n}\n\ndata[key] = true\n\nreturn [\n  {\n    json: {\n      origen: '03_DiagnosticarLead',\n      siguiente: '04_GenerarMensajes',\n      fecha: new Date().toISOString()\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        -208
      ],
      "id": "a33677a6-ceda-4adb-8ebb-4881803cea45",
      "name": "CODE_Disparar_04_UnaVez"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erupt-theater-sectional.ngrok-free.dev/webhook/generar-mensajes",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "origen",
              "value": "={{ $json.origen }}"
            },
            {
              "name": "siguiente",
              "value": "={{ $json.siguiente }}"
            },
            {
              "name": "fecha",
              "value": "={{ $json.fecha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        -208
      ],
      "id": "da593ef6-c18c-4432-96f4-9f989d8c0b58",
      "name": "HTTP_Llamar_04_GenerarMensajes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bcd5dcac-b331-49de-a1db-f808c38d927d",
              "leftValue": "={{ $json.totalItems }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        288,
        0
      ],
      "id": "e35dddf9-1180-4021-bd4a-e2d77c75660c",
      "name": "IF_HayLeadsParaDiagnostico"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    estado: 'sin_leads',\n    flujo: '03_DiagnosticarLead',\n    mensaje: 'No hay leads pendientes para diagnosticar',\n    fecha: new Date().toISOString()\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        96
      ],
      "id": "5b996be6-64c5-44bf-ab35-0084c7174e88",
      "name": "CODE_SinLeadsParaDiagnostico"
    }
  ],
  "pinData": {},
  "connections": {
    "PB_LeerLeadsParaDiagnostico": {
      "main": [
        [
          {
            "node": "IF_HayLeadsParaDiagnostico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_SepararLeads": {
      "main": [
        [
          {
            "node": "LOOP_Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOOP_Leads": {
      "main": [
        [
          {
            "node": "CODE_Disparar_04_UnaVez",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE_DiagnosticarLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_DiagnosticarLead": {
      "main": [
        [
          {
            "node": "PB_ActualizarDiagnostico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB_ActualizarDiagnostico": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "LOOP_Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_03_DiagnosticarLead": {
      "main": [
        [
          {
            "node": "PB_LeerLeadsParaDiagnostico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_Disparar_04_UnaVez": {
      "main": [
        [
          {
            "node": "HTTP_Llamar_04_GenerarMensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_HayLeadsParaDiagnostico": {
      "main": [
        [
          {
            "node": "CODE_SepararLeads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE_SinLeadsParaDiagnostico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f9e80406-7b04-4648-93be-51f4dd64e099",
  "meta": {
    "instanceId": "363feec181ee095d766117f92f3c6a6898a7bdf4064bd1a3a8c47e0701081aae"
  },
  "id": "qTkiZk_SR23VXTBIHGus0",
  "tags": []
}