n8n/05_VerificarWhatsApp.json
{
  "name": "05_VerificarWhatsApp",
  "nodes": [
    {
      "parameters": {
        "url": "http://host.docker.internal:8091/api/collections/leads/records",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "perPage",
              "value": "100"
            },
            {
              "name": "sort",
              "value": "-score"
            },
            {
              "name": "filter",
              "value": "mensaje_generado=true && whatsapp_verificado=false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        128,
        0
      ],
      "id": "9ba40094-1701-4081-b3bd-2f5e553cd059",
      "name": "PB_LeerMensajesGenerados"
    },
    {
      "parameters": {
        "jsCode": "const leads = $json.items || [];\n\nreturn leads.map(lead => ({\n  json: lead\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -176
      ],
      "id": "edf59e9a-cb63-4ac3-a9e8-a6f02e1e5d19",
      "name": "CODE_SepararLeads"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        -176
      ],
      "id": "d0c3998a-c94f-44aa-b0ff-29c3d924cc6a",
      "name": "LOOP_Leads"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/api/contacts/check-exists",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{$json.telefono_limpio}}"
            },
            {
              "name": "session",
              "value": "default"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "2cdb1e80acf84a70a40213c506fa3016"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1104,
        -80
      ],
      "id": "9a27d5a8-6826-4e4c-8abf-4a9843425eba",
      "name": "HTTP_WAHA_VerificarNumero"
    },
    {
      "parameters": {
        "jsCode": "const lead = $('LOOP_Leads').first().json;\n\nconst existe = $json.numberExists === true;\n\nreturn [{\n  json: {\n    ...lead,\n\n    tiene_whatsapp: existe,\n    whatsapp_verificado: true,\n    estado_whatsapp: existe\n      ? 'verificado'\n      : 'sin_whatsapp'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        -80
      ],
      "id": "47577b80-523b-4882-9387-7b8cba0e7cf3",
      "name": "CODE_NormalizarVerificacionWA"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://host.docker.internal:8091/api/collections/leads/records/{{$json.id}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tiene_whatsapp",
              "value": "={{ $json.tiene_whatsapp }}"
            },
            {
              "name": "whatsapp_verificado",
              "value": "={{ $json.whatsapp_verificado }}"
            },
            {
              "name": "estado_mensaje",
              "value": "={{ $json.estado_mensaje }}"
            },
            {
              "name": "estado_whatsapp",
              "value": "={{$json.estado_whatsapp}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1520,
        -80
      ],
      "id": "191be35d-34cb-4021-bb93-d9f0f3c424a6",
      "name": "PB_ActualizarLeadWA"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1728,
        -32
      ],
      "id": "10cf8f5d-e49c-46be-beaf-f7c79f3b4e4b",
      "name": "Wait",
      "webhookId": "c4ac8780-f074-4651-a036-ebe8ffb810ea"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verificar-leads",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        0
      ],
      "id": "6c292964-8b05-4e1d-9a43-aff249ea77fd",
      "name": "Webhook",
      "webhookId": "9d9afbd6-75e2-48be-a522-711883c819c5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "80ff3f0f-2358-4d36-b8fb-2d7bf622f760",
              "leftValue": "={{ $json.totalItems }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        336,
        0
      ],
      "id": "c8cfbe22-3497-4029-a2c6-0e80275b00ea",
      "name": "IF_HayLeadsParaVerificarWA"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    estado: 'sin_leads',\n    flujo: '05_VerificarWhatsApp',\n    mensaje: 'No hay leads pendientes para verificar WhatsApp',\n    fecha: new Date().toISOString()\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        96
      ],
      "id": "81ec13e3-68b8-419a-93a7-1a8ec7a5cfdf",
      "name": "CODE_SinLeadsParaVerificarWA"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://host.docker.internal:8091/api/collections/campanas/records/{{ $('Webhook').first().json.body.campana_id }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "estado",
              "value": "flujo_5_verificando"
            },
            {
              "name": "mensaje_full_digital",
              "value": "Verificando números con WhatsApp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -128,
        0
      ],
      "id": "1aa43ff8-9239-4364-a787-c07de4e3caad",
      "name": "PB_EstadoCampana_Flujo5"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://host.docker.internal:8091/api/collections/campanas/records/{{ $('Webhook').first().json.body.campana_id }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "estado",
              "value": "terminado"
            },
            {
              "name": "fecha_fin",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "mensaje_full_digital",
              "value": "Campaña terminada"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1104,
        -272
      ],
      "id": "38af26f7-f096-4af3-8038-53ba137bc093",
      "name": "PB_FinalizarCampana"
    }
  ],
  "pinData": {},
  "connections": {
    "PB_LeerMensajesGenerados": {
      "main": [
        [
          {
            "node": "IF_HayLeadsParaVerificarWA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_SepararLeads": {
      "main": [
        [
          {
            "node": "LOOP_Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOOP_Leads": {
      "main": [
        [
          {
            "node": "PB_FinalizarCampana",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_WAHA_VerificarNumero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_WAHA_VerificarNumero": {
      "main": [
        [
          {
            "node": "CODE_NormalizarVerificacionWA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_NormalizarVerificacionWA": {
      "main": [
        [
          {
            "node": "PB_ActualizarLeadWA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB_ActualizarLeadWA": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "LOOP_Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "PB_EstadoCampana_Flujo5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_HayLeadsParaVerificarWA": {
      "main": [
        [
          {
            "node": "CODE_SepararLeads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CODE_SinLeadsParaVerificarWA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB_EstadoCampana_Flujo5": {
      "main": [
        [
          {
            "node": "PB_LeerMensajesGenerados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c5805ebb-c432-4f0f-86dd-b0c8207a7a33",
  "meta": {
    "instanceId": "bb0f0382383d4f643708f73f17000961d8224166b1cf2ba0ee3d12dbba08515b"
  },
  "id": "WP_GbvQ6HUxph8_ug80AF",
  "tags": []
}