n8n/06_EnviarLeadManual.json
{
  "name": "06_EnviarLeadManual",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enviar-lead-manual",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        16
      ],
      "id": "475ad2eb-7d3c-4494-87a0-3fb961214375",
      "name": "Webhook_EnviarLeadManual",
      "webhookId": "0d212316-4fb4-4aac-bbf2-3cd27e22c463"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst lead_id = body.lead_id;\nlet telefono = String(body.telefono_limpio || body.telefono || '').replace(/\\D/g, '');\nconst mensaje = body.mensaje || '';\n\nif (!lead_id) throw new Error('Falta lead_id');\nif (!telefono) throw new Error('Falta telefono');\nif (!mensaje) throw new Error('Falta mensaje');\n\n// México:\n// si viene como 55XXXXXXXX, convertir a 52155XXXXXXXX\nif (telefono.length === 10) {\n  telefono = `521${telefono}`;\n}\n\n// si viene como 5255XXXXXXXX, probar formato WAHA visible 52155XXXXXXXX\nif (telefono.startsWith('52') && telefono.length === 12 && !telefono.startsWith('521')) {\n  telefono = `521${telefono.slice(2)}`;\n}\n\nreturn [\n  {\n    json: {\n      lead_id,\n      telefono,\n      chatId: `${telefono}@c.us`,\n      mensaje,\n      fecha_envio: new Date().toISOString(),\n      POCKETBASE_URL: 'http://host.docker.internal:8091',\n      WAHA_URL: 'http://host.docker.internal:3000',\n      session: 'default',\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        16
      ],
      "id": "4632aafa-ffc3-451d-b92d-bbb2ce4406bd",
      "name": "CODE_NormalizarEnvio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WAHA_URL }}/api/sendText\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "2cdb1e80acf84a70a40213c506fa3016"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $json.session }}"
            },
            {
              "name": "chatId",
              "value": "={{ $json.chatId }}"
            },
            {
              "name": "text",
              "value": "={{ $json.mensaje }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1088,
        112
      ],
      "id": "7c7bf288-c9c7-411d-afed-0adeed9da3a3",
      "name": "HTTP_WAHA_EnviarMensaje"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('CODE_NormalizarEnvio').first().json.POCKETBASE_URL }}/api/collections/leads/records/{{ $('CODE_NormalizarEnvio').first().json.lead_id }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "estado",
              "value": "enviado_manual"
            },
            {
              "name": "estado_mensaje",
              "value": "enviado"
            },
            {
              "name": "fecha_envio",
              "value": "={{ $('CODE_NormalizarEnvio').first().json.fecha_envio }}"
            },
            {
              "name": "ultimo_contacto",
              "value": "={{ $('CODE_NormalizarEnvio').first().json.fecha_envio }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -80,
        464
      ],
      "id": "87554120-2cca-4486-ac06-c2d413a566e0",
      "name": "PB_MarcarLeadEnviado"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": true,\n  \"message\": \"mensaje enviado\",\n  \"lead_id\": \"{{ $('CODE_NormalizarEnvio').first().json.lead_id }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        368,
        464
      ],
      "id": "56d989a9-6c53-4f13-bf38-b923b91a8258",
      "name": "RESP_EnviarLeadManual"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8091/api/collections/seguimientos/records",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "={{ $('CODE_NormalizarEnvio').first().json.lead_id }}"
            },
            {
              "name": "tipo",
              "value": "envio"
            },
            {
              "name": "resultado",
              "value": "enviado"
            },
            {
              "name": "nota",
              "value": "Mensaje enviado manualmente desde CRM. Chat refrescado en WAHA."
            },
            {
              "name": "fecha",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        464
      ],
      "id": "86fcf4b2-c730-477a-a93b-1099b1a51a29",
      "name": "PB_CrearSeguimiento"
    },
    {
      "parameters": {
        "jsCode": "const normal = $('CODE_NormalizarEnvio').first().json;\nconst r = $json || {};\nconst data = r._data || {};\n\nreturn [{\n  json: {\n    ...normal,\n\n    enviado_por_waha: true,\n    waha_sin_respuesta: Object.keys(r).length === 0,\n\n    ack: r.ack ?? data.ack ?? '',\n    ackName: r.ackName || '',\n    fromMe: r.fromMe ?? data.id?.fromMe ?? '',\n    remote: data.id?.remote || r.to || normal.chatId,\n    body: r.body || r.text || normal.mensaje,\n    waha_message_id: r.id || data.id?._serialized || '',\n\n    raw: r\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        176
      ],
      "id": "7cf5d581-8cfb-4936-9733-f0562134719d",
      "name": "CODE_RevisarRespuestaWAHA"
    },
    {
      "parameters": {
        "url": "={{ $('CODE_NormalizarEnvio').first().json.WAHA_URL }}/api/default/chats/{{ encodeURIComponent($json.remote || $json.chatId) }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "2cdb1e80acf84a70a40213c506fa3016"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -320,
        464
      ],
      "id": "38b262f8-594e-4662-84a2-47c82985d24b",
      "name": "HTTP_WAHA_LeerChatDespuesEnvio",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{$('CODE_NormalizarEnvio').first().json.POCKETBASE_URL}}/api/collections/campanas/records/{{$json.campana_id}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        160
      ],
      "id": "85722640-d2a9-476f-8c22-9ada7ec81574",
      "name": "PB_LeerCampana",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{$json.POCKETBASE_URL}}/api/collections/leads/records/{{$json.lead_id}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        160
      ],
      "id": "6621f3a1-847c-4767-8e99-6ff9bf57f851",
      "name": "PB_LeerLead"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        320,
        32
      ],
      "id": "5904e998-d47d-4f35-92ee-ba7850cd299b",
      "name": "Merge_LeadCampana"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        48
      ],
      "id": "dc9dc07f-b70b-408a-bd46-3f04f239f1a7",
      "name": "Merge_ConMaterial"
    },
    {
      "parameters": {
        "url": "={{$json.POCKETBASE_URL}}/api/collections/materiales_marketing/records/{{$json.material_id}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        528,
        160
      ],
      "id": "843b7811-c774-4e67-9f12-675c2da19f1e",
      "name": "PB_LeerMaterial",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('CODE_NormalizarEnvio').first().json.WAHA_URL }}/api/sendFile",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "2cdb1e80acf84a70a40213c506fa3016"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "={{ $('CODE_NormalizarEnvio').first().json.session }}"
            },
            {
              "name": "chatId",
              "value": "={{ $('CODE_NormalizarEnvio').first().json.chatId }}"
            },
            {
              "name": "file",
              "value": "={{ {   url: $('CODE_NormalizarEnvio').first().json.POCKETBASE_URL + \"/api/files/\" + $('PB_LeerMaterial').first().json.collectionId + \"/\" + $('PB_LeerMaterial').first().json.id + \"/\" + $('PB_LeerMaterial').first().json.archivo,   filename: $('PB_LeerMaterial').first().json.archivo,   mimetype: \"video/mp4\" } }}"
            },
            {
              "name": "caption",
              "value": "={{ $('CODE_NormalizarEnvio').first().json.mensaje }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1456,
        -16
      ],
      "id": "4fe2b883-41f0-4d96-88c6-08eb45818e13",
      "name": "HTTP_WAHA_EnviarVideo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d509279b-5711-4901-8046-2cee0b1069b0",
              "leftValue": "{{ $json.tipo_envio }}",
              "rightValue": "texto_material",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "40a87b10-3075-4764-af38-55da51b388d7",
              "leftValue": "{{ $json.tipo }}",
              "rightValue": "video",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "09d4085c-41ea-4b1f-8dab-c0cd724cabfc",
              "leftValue": "{{ $json.archivo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        112
      ],
      "id": "f59f9563-65cf-4016-9cc8-b7d7f6ddda37",
      "name": "IF_TieneVideo"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1264,
        -16
      ],
      "id": "57e992f8-0e77-4134-8a83-b70e290e356a",
      "name": "Wait_2s",
      "webhookId": "78252e05-50f3-4510-bc61-36bda197e738"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook_EnviarLeadManual": {
      "main": [
        [
          {
            "node": "CODE_NormalizarEnvio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_NormalizarEnvio": {
      "main": [
        [
          {
            "node": "PB_LeerLead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge_LeadCampana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_WAHA_EnviarMensaje": {
      "main": [
        [
          {
            "node": "CODE_RevisarRespuestaWAHA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait_2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB_MarcarLeadEnviado": {
      "main": [
        [
          {
            "node": "PB_CrearSeguimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB_CrearSeguimiento": {
      "main": [
        [
          {
            "node": "RESP_EnviarLeadManual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE_RevisarRespuestaWAHA": {
      "main": [
        [
          {
            "node": "HTTP_WAHA_LeerChatDespuesEnvio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_WAHA_LeerChatDespuesEnvio": {
      "main": [
        [
          {
            "node": "PB_MarcarLeadEnviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB_LeerCampana": {
      "main": [
        [
          {
            "node": "Merge_LeadCampana",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PB_LeerLead": {
      "main": [
        [
          {
            "node": "PB_LeerCampana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge_LeadCampana": {
      "main": [
        [
          {
            "node": "PB_LeerMaterial",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge_ConMaterial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge_ConMaterial": {
      "main": [
        [
          {
            "node": "IF_TieneVideo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PB_LeerMaterial": {
      "main": [
        [
          {
            "node": "Merge_ConMaterial",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP_WAHA_EnviarVideo": {
      "main": [
        [
          {
            "node": "CODE_RevisarRespuestaWAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_TieneVideo": {
      "main": [
        [
          {
            "node": "HTTP_WAHA_EnviarMensaje",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP_WAHA_EnviarMensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait_2s": {
      "main": [
        [
          {
            "node": "HTTP_WAHA_EnviarVideo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8c52f176-b5ed-46f9-9ba0-4cfdf5bb8b35",
  "meta": {
    "instanceId": "bb0f0382383d4f643708f73f17000961d8224166b1cf2ba0ee3d12dbba08515b"
  },
  "id": "MQHIdKc-3RaMMnK5wgTCb",
  "tags": []
}